<html>
    <head>
        <title> create new posts</title>
    </head>
    <body>
        <form method="post" action="/posts">
            <input placeholder="enter username" name="username"/>
            <textarea placeholder="write your post" name="content"></textarea>
            <button>Submit</button>

        </form>
    </body>
</html>
